@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

.sourceicon_curtain {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
}
.sourceicon_holder {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow:  0px 2px 4px 0px rgba(0, 0, 0, 0.4);
    box-shadow:  0px 2px 4px 0px rgba(0, 0, 0, 0.4);
    width: 400px;
    position: fixed;
    top: 40px;
    left: 50%;
    margin-left: -200px;
    display: inline-block;
    vertical-align: top;
    font-family: 'Open Sans Condensed', 'helvetica', 'arial', sans-serif;
    font-weight: normal;
    z-index: 100;
}

.sourceicon_gradient {
    background-color: #666;
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 160px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: center;
    padding: 20px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    position: relative;
}
.sourceicon_additional_info {
    font-size: 16px;
    position: absolute;
    color: #FFF;
    bottom: 5px;
    right: 10px;
}
.sourceicon_title { 
    font-size: 36px;
    color: #FFF;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sourceicon_link {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #FFF;
}
.sourceicon_link a {
    color: #FFF;
    text-decoration: none;
    font-weight: normal;
    font-size: 20px;
}
.sourceicon_link a:hover {
    text-decoration: underline;
}
.sourceicon_buttons {
    background-color: #333333;
    font-size: 0;
    position: relative;
}
.sourceicon_buttons:after {
    content: ' ';
    height: 1px;
    clear: both;
    width: 100%;
    display: inline-block;
}
.sourceicon_collaborators, .sourceicon_date {
    float: left;
    font-size: 16px;
    color: #CCC;
    width: 50%;
    line-height: 2.4em;
    text-align: center;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    text-decoration: none;
}
.sourceicon_collaborators {
    padding-right: 25px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.sourceicon_collaborators a {
    text-decoration: none;
    color: #CCC;
}
.sourceicon_collaborators a:hover {
    text-decoration: underline;
}
.sourceicon_divider {
    display: inline-block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.4) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.4))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#66ffffff',GradientType=0 ); /* IE6-9 */
}
.sourceicon_description {
    padding: 20px;
    background-color: #FFF;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 20px;
}
.sourceicon_readmore {
    margin-top: 1em;
    font-size: 0.8em;
}
.sourceicon_readmore a {
    color: #81A5DB;
    text-decoration: none;
}
.sourceicon_readmore a:hover {
    color: #5883C4;
}
.sourceicon_readmore a:active {
    color: #3E6CB2;
}
.sourceicon_sidebox {
    position: absolute;
    right: 0;
    top: 180px;
    margin-right: -25px;
    margin-top: -25px;
    display: inline-block;
    background-color: #FFFFFF;
    padding: 5px;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-shadow:  0px 2px 4px 0px rgba(0, 0, 0, 0.4);
    box-shadow:  0px 2px 4px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    line-height: 40px;
    font-size: 30px;
    color: #333;
    text-align: center;
}
.sourceicon_propic {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}